<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post" action="/rest/add-users-api">
        Name:<input type="text" name="nme"><br>
        Email:<input type="text" name="eml"><br>
        
        <input type="submit"/>
        </form>
    </body>
</html>