<!doctype html>
<html lang="en">
  <head>
     
  <!-- Select2 -->
  <link rel="stylesheet" href="../../../plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="../../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Bootstrap4 Duallistbox -->
  
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
      
   <style>
      p
{
  color: red;
}
.error
{
  color: red;
}
    </style>
    
    <script src="../../javascripts/plugins/jquery.min.js"></script>
<script src="../../javascripts/plugins/jquery.validate.min.js"></script>
  <script>
    $(document).ready(function()
    {
      var errors = {{{stringify errors}}};
       console.log("am",errors)
      if(errors.errors)
      {
        
        for(let err of errors.errors)
        $( "<p>"+err.msg+"</p>" ).insertAfter('input[name="'+err.param+'"]');
      }
    })
  
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    
   <section class="content">
      <div class="container-fluid">
       
        <div class="row mt-4">
          <div class="mx-auto card" style="width: 35rem; ">
            <div class="card-header">
              <h3 class="card-title">Signup Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" id="frm" > 
              <div class="card-body">
                  <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Firstname</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="FirstName">
                  </div>
                </div>
                 <div class="form-group row mt-4">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Lastname</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="LastName">
                  </div>
                </div>
                <div class="form-group row mt-4">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row mt-4">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group row mt-4">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Confirm Password</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password">
                  </div>
                </div>
                  <div class="form-group row mt-4">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Gender</label>
                  <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="Male" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="Female" >
                  <label class="form-check-label" for="flexRadioDefault2">
                    Female
                  </label>
                </div>
                </div>
                </div>
                <div class="form-group row mt-4">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Mobile</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile">
                  </div>
                </div>
                <div class="form-group row mt-4">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Hobbies</label>
                  <div class="col-sm-6">
                  <select class="select2" id="hobbies" multiple="multiple" data-placeholder="Select Hobbies" style="width: 100%;" name="hobbies">
                    {{#each myhobby}}
                    <option value="{{@key}}" >{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
                <div class="form-group row mt-4">
                  <div class="offset-sm-2 col-sm-10">
                    
                  </div>
                
              </div>
              <!-- /.card-body -->
              
              <div class="card-footer ">
                <p class="text-center">
                <input type="submit" class="btn btn-primary" value="Submit">
              </p>
              </div>
            <div class="card-footer ">
                <p class="text-center">
                <a href="login">Login Account </a>
              </p>
              </div>
              <!-- /.card-footer -->
            
            
            </form>
            
          </div>
          
          <!-- /.card -->
        </div>
        
        </div>
        
    </div>
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Optional JavaScript; choose one of the two! -->
<script src="../../javascripts/pagewise/signup.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  
<!-- Bootstrap 4 -->

<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->

<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>
  </body>
</html>
