<html>
    <head>
        <title>Thank</title>
        
    </head>
    <body>
        <center>
            <p style="font-size: 20px;">Mail Has Been Successfully Sent</p>
        <img src="http://localhost:3000/images/sended.gif" height="auto">
        </center>
    </body>
</html>
