<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post">
            Name:-<input type="text"><br>
            Address:-<input type="text"><br>
            Male<input type="radio" name="check" value="Male">
            Female<input type="radio" name="check" value="Female">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>