<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post">
        Name:<input type="text" value="{{mydata.emp_name}}" name="nm">
        Mobile:<input type="text" value="{{mydata.emp_mobile}}" name="mno">
        Age:<input type="number" value="{{mydata.emp_age}}"  name="age">
        Salary:<input type="number" value="{{mydata.emp_salary}}" name="sal">
        <input type="submit"/>
        </form>
    </body>
</html>