<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post" action="/emp-process">
        Name:<input type="text" name="nm">
        Mobile:<input type="text" name="mno">
        Age:<input type="number" name="age">
        Salary:<input type="number" name="sal">
        <input type="submit"/>
        </form>
    </body>
</html>