<html>
<body>
    
    <form method="post">
        <h1>Change Password</h1>
        <table>
            <tr>
                <td>Old Password</td>
                <td><input type="text" placeholder="Enter Old Password" name="opass" required></td>
            </tr>
            <tr>
                <td>New Password </td>
                <td><input type="text" placeholder="Enter New Password" name="npass" required></td>
            </tr>
            <tr>
                <td>Confirm Password </td>
                <td><input type="text" placeholder="Enter Confirm Password" name="cpass" required></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        
    </form>
</body>

</html>