<html>
<body>
    
    <form method="post">
        <h1>Forgot Password</h1>
        <table>
            
            
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Enter Email" name="user_email" required></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        <a href="/login">Switch to Login</a>
    </form>
</body>

</html>