<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post">
        Name:<input type="text" name="name"><br>
        Mobile:<input type="text" name="mobile"><br>
        Address:<input type="text" name="address"><br>
        <input type="submit" value="submit">
        </form>
    </body>
</html>