<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{mydata.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>Country Name</th>
            
            <th>Action</th>
    </tr>

{{#each mydata}}
    <tr>
    <td class="counterCell"></td>
    <td>{{country_name}}</td>

    
    <td>
        <a href="/editcat/{{_id}}">Edit</a> |
        <a href="/deletecoun/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>