<html>
    <head>
        <title>Add form</title>
    </head>
    <body>
        <form method="post">
        Name:<input type="text" name="nm">
        Mobile:<input type="text" name="mno">
        <input type="submit"/>
        </form>
    </body>
</html>