<html>
    <head>
        <title>Add form</title>
    </head>
    <body>
       <table border="1px" width="50%">
           <tr>
               <th>Name</th>
               <th>Mobile</th>
           </tr>
       </table>
    </body>
</html>