<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post">
        Name:<input type="text" name="anm" value='{{mydata.admin_name}}'>
        Username:<input type="text" name="user" value='{{mydata.admin_user}}'>
        Password:<input type="text" name="pass" value='{{mydata.admin_pass}}'>
        <input type="submit"/>
        </form>
    </body>
</html>