<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post" >
        <input type="color" name="nm1"/>
        <input type="submit"/>
        </form>
    </body>
    </html>