<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post" action="/login-pro">
        <input type="text" name="nm"/>
        <input type="submit"/>
        </form>
    </body>
    </html>